<launch>

    <arg name="camera_namepace" default="phobos_nuclear"/>
    <arg name="split_laser" default="false"/>
    <arg name="localization" default="false"/>

    <!-- STEREO REGISTRATOIN -->
    <include file="$(find i3dr_rtabmap)/launch/stereo_localisation.launch">
        <arg name="localization" value="$(arg localization)"/>

        <arg name="camera_namespace" value="$(arg camera_namepace)"/>

        <arg name="depth_odom" value="true"/>

        <arg if="$(arg split_laser)" name="rgb_topic" value="/$(arg camera_name)/left/image_rect_no_laser"/>
        <arg unless="$(arg split_laser)" name="rgb_topic" value="/$(arg camera_name)/left/image_rect"/>

        <arg name="camera_info_topic" value="/$(arg camera_name)/left/camera_info"/>

        <arg name="depth_topic" value="/$(arg camera_name)/depth"/>
    
        <arg name="depth_camera_info_topic" value="/$(arg camera_name)/left/camera_info"/>

        <arg name="base_link_frame" value="$(arg camera_name)_base_link"/>
        <!-- should be set to true if using SGBM or Phobos/Phobos_nuclear as these takes longer to process -->
        <arg name="slow_processing" default="true"/>
    </include>

</launch>