<launch>
    <arg name="camera_namespace" default="stereo" />
    <arg name="camera_model" default="$(arg camera_namespace)"/>
    <arg name="urdf_namespace" default="$(arg camera_namespace)"/>
    <arg name="slow_processing" default="false"/>
    <arg name="localization" default="false"/>
    <arg name="database_path" default="~/.ros/rtabmap.db"/>
    <arg name="imu" default="false"/>
    <arg name="rviz" default="false"/>
    <arg name="rtabmapviz" default="false"/>
    <arg name="max_depth" default="5"/>
    <arg name="gftt_min_dist" default="5"/>
    <arg name="node_output" default="log"/>
    <arg name="map_frame_id" default="map"/>
    <arg name="grid_size" default="0.05"/>
    <arg name="use_compressed" default="false"/>

    <arg name="clearMapOnStart" default="true" />

    <arg name="custom_rtabmap" default="true"/>

    <arg if="$(arg clearMapOnStart)" name="args" default="--delete_db_on_start"/>
    <arg unless="$(arg clearMapOnStart)" name="args" default=""/>

    <arg name="rgb_topic" default="/$(arg camera_namespace)/left/image_rect" />

    <!-- DISPLAY -->
    <!-- run rviz with config file -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="stereo_localisation_rivz" 
        args="-d $(find i3dr_rtabmap)/rviz/stereo_localisation.rviz"/>

    <include if="$(arg custom_rtabmap)" file="$(find i3dr_rtabmap)/launch/rtabmap_custom.launch">
        <arg name="args" value="$(arg args)"/>

        <arg name="stereo" value="false" />
        <arg name="stereo_namespace" value="$(arg camera_namespace)"/>
        <arg name="left_image_topic" value="/$(arg camera_namespace)/left/image_rect" />
        <arg name="right_image_topic" value="/$(arg camera_namespace)/right/image_rect" />
        <arg name="left_camera_info_topic" value="/$(arg camera_namespace)/left/camera_info"/>
        <arg name="right_camera_info_topic" value="/$(arg camera_namespace)/right/camera_info"/>

        <arg name="frame_id" value="$(arg urdf_namespace)_base_link"/>
        <arg name="map_frame_id" value="$(arg map_frame_id)"/>
        <arg name="rgb_topic" value="$(arg rgb_topic)"/>
        <arg name="depth_topic" value="/$(arg camera_namespace)/depth"/>
        <arg name="camera_info_topic" value="/$(arg camera_namespace)/left/camera_info"/>
        <arg name="use_compressed" value="$(arg use_compressed)"/>
        <arg name="depth_camera_info_topic" value="/$(arg camera_namespace)/left/camera_info"/>
        <arg name="rtabmapviz" value="$(arg rtabmapviz)"/>
        <arg name="rviz" value="false"/>

        <arg name="localization" value="$(arg localization)"/>
        <arg name="database_path" value="$(arg database_path)"/>

        <arg name="queue_size" value="50"/>
        <arg name="approx_sync" value="true"/>
        <arg name="wait_for_transform" value="5"/>
        <arg name="max_depth" value="$(arg max_depth)"/>
        <arg name="gftt_min_dist" value="$(arg gftt_min_dist)"/>
        <arg name="grid_size" value="$(arg grid_size)"/>
        <arg name="output" value="$(arg node_output)"/>
    </include>

    <include unless="$(arg custom_rtabmap)" file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="args" value="$(arg args)"/>
        <arg name="frame_id" value="$(arg urdf_namespace)_base_link"/>
        <arg name="rgb_topic" value="$(arg rgb_topic)"/>
        <arg name="depth_topic" value="/$(arg camera_namespace)/depth"/>
        <arg name="camera_info_topic" value="/$(arg camera_namespace)/left/camera_info"/>
        <arg name="depth_camera_info_topic" value="/$(arg camera_namespace)/left/camera_info"/>
        <arg name="rtabmapviz" value="$(arg rtabmapviz)"/>
        <arg name="rviz" value="false"/>
        <arg name="database_path" value="$(arg database_path)"/>
    </include>

    <group if="$(arg imu)">
        <include file="$(find robot_localization)/launch/ukf_template.launch"/>
        <param name="/ukf_se/frequency" value="140"/>
        <param name="/ukf_se/base_link_frame" value="$(arg urdf_namespace)_base_link"/>
        <param name="/ukf_se/odom0" value="rtabmap/odom"/>
        <rosparam param="/ukf_se/odom0_config">[true,true,true,
                                                true,true,true,
                                                true,true,true,
                                                true,true,true,
                                                true,true,true]
        </rosparam>
        <param name="/ukf_se/odom0_relative" value="true"/>
        <param name="/ukf_se/odom0_pose_rejection_threshold" value="10000000"/>
        <param name="/ukf_se/odom0_twist_rejection_threshold" value="10000000"/>

        <param name="/ukf_se/imu0" value="/imu/data"/>
        <rosparam param="/ukf_se/imu0_config">[false, false, false,
                                            true,  true,  true,
                                            true,  true,  true,
                                            true,  true,  true,
                                            true,  true,  true]
        </rosparam>
        <param name="/ukf_se/imu0_differential" value="true"/>
        <param name="/ukf_se/imu0_relative" value="false"/>
        <param name="/ukf_se/use_control" value="false"/>
    </group>
  
</launch>